<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
  </head>
  <body>
    <main id="app">
      <header>
        <h1>Travel App</h1>
      </header>

      <form>
        <fieldset>
          <legend>Where are you going?</legend>

          <label for="city">My trip to:</label>
          <input type="text" id="city" placeholder="Please enter the city" />

          <label for="date">Departing:</label>
          <input type="date" id="date" />

          <button id="submit-button">Submit</button>
        </fieldset>
      </form>

      <div class="loading" id="loading">...Loading</div>

      <section class="card" id="card">
        <div>
          <img id="city-photo" />
        </div>

        <div>
          <div class="card-header">
            <p>
              My trip to: <span id="country"></span>,
              <span id="cityOutput"></span>
            </p>
            <p>Departing: <span id="dateOutput"></span></p>
          </div>

          <p>
            The trip is
            <span id="daysDiff"></span> days away.
          </p>

          <div class="weather-info">
            <p>Typical weather for then is:</p>
            <p>High: <span id="max"></span>, Low: <span id="min"></span></p>
            <p id="summary"></p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
