<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <h1>Travel App</h1>
    </header>

    <!-- main -->
    <main id="app">
      <!-- form -->
      <form>
        <fieldset>
          <legend>Where are you going?</legend>

          <label for="city">My trip to:</label>
          <input type="text" id="city" placeholder="Please enter the city" />

          <label for="date">Departing:</label>
          <input type="date" id="date" />

          <button id="submit-button">Submit</button>
        </fieldset>
      </form>

      <!-- status -->
      <section>
        <div class="loading" id="loading">...Loading</div>
        <div class="error" id="error"></div>
      </section>

      <!-- card -->
      <section class="card" id="card">
        <!-- photo -->
        <div>
          <img id="city-photo" />
        </div>

        <!-- header -->
        <div>
          <div class="card-header">
            <p>
              My trip to: <span id="country"></span>,
              <span id="cityOutput"></span>
            </p>
            <p>Departing: <span id="dateOutput"></span></p>
          </div>

          <p>
            The trip is
            <span id="daysDiff"></span> day(s) away.
          </p>

          <!-- weather info -->
          <div class="weather-info">
            <p id="weather-prediction"></p>
            <p>High: <span id="max"></span>, Low: <span id="min"></span></p>
            <p id="summary"></p>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer>
      <p>&copy; 2020 Svitlana Lesiv</p>
    </footer>

    <!-- service workers -->
    <script>
      // Check that service workers are supported.
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant.
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
