<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
  </head>
  <body>
    <main id="app">
      <header>
        <h1>Travel App</h1>
      </header>

      <form>
        <label for="city">My trip to:</label>
        <input type="text" id="city" placeholder="Please enter the city" />

        <label for="date">Departing:</label>
        <input type="date" id="date" />

        <button id="submit-button">Submit</button>
      </form>

      <section>
        <header></header>
        <p id="summary"></p>
        <p id="min"></p>
        <p id="max"></p>
        <p id="dateOutput"></p>
        <p id="daysDiff"></p>
        <p id="country"></p>
        <img id="city-photo"/>
      </section>
    </main>
  </body>
</html>
