.card {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  background-color: $base-color-lighter;
  padding: 1em;

  p {
    line-height: 1.3;
  }

  img {
    width: 100%;
    padding: 0;
    padding-bottom: 1em;
  }

  .card-header {
    @include x-large-font-size;
    margin-bottom: 0.5em;
  }

  .weather-info {
    margin-top: 1em;
  }
}

@include desktop {
  .card {
    flex-direction: row;

    img {
      max-width: 35vw;
      padding: 0;
      padding-right: 1em;
    }

    .card-header {
      @include large-font-size;
    }
  }
}
