@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1px}) {
    @content;
  }
}

@mixin small-font-size {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

@mixin medium-font-size {
  font-size: 1rem;
  line-height: 1.375rem;
}

@mixin large-font-size {
  @include mobile {
    font-size: 1.2rem;
    line-height: 1.1rem;
  }
  @include tablet {
    font-size: 1.2rem;
    line-height: 1.25rem;
  }
  @include desktop {
    font-size: 1.4rem;
    line-height: 1.25rem;
  }
}

@mixin x-large-font-size {
  @include mobile {
    font-size: 1.5rem;
    line-height: 1.1rem;
  }
  @include tablet {
    font-size: 1.5rem;
    line-height: 1.25rem;
  }
  @include desktop {
    font-size: 1.7rem;
    line-height: 1.25rem;
  }
}

@mixin xx-large-font-size {
  @include mobile {
    font-size: 2rem;
    line-height: 1.25rem;
  }
  @include tablet {
    font-size: 2.2rem;
    line-height: 1.125rem;
  }
  @include desktop {
    font-size: 2.5rem;
    line-height: 1.05rem;
  }
}
